<a href="https://colab.research.google.com/github/venkateshpabbati/python_fundamentals/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
hindi = int(input('enter hindi score:'))
english = int(input('enter english score:'))
science = int(input('enter science score:'))
score = hindi+english+science
print('score:', score)

enter hindi score:12
enter english score:23
enter science score:34
score: 69

In [64]:
t = float(input('enter time in seconds:'))
m = round(t/60)
s = t-m*60
print('time is', m, 'minutes', s, 'seconds')

enter time in seconds:4576
time is 76 minutes 16.0 seconds

In [65]:
temp = int(input('ente the temperature in fahrenheit:'))
cel = round((temp-32)*(5/9), 2)
print('temperature is',  cel, 'celsius')

ente the temperature in fahrenheit:104
temperature is 40.0 celsius

In [5]:
ip = int(input("number of seconds:",  ))
print('convert seconds in to min and sec:', ip//60,  'minutes', ip%60,  'seconds')

number of seconds:359
convert seconds in to min and sec: 5 minutes 59 seconds

In [6]:
print('this is nika. \n I am from ND')

this is nika.
 I am from ND

In [7]:
txt = 'one one was a race horse, two two was one too.'
txt.replace('one', 'three')

'three three was a race horse, two two was three too.'

In [9]:
txt = 'hello, welcome to world.'
x = txt.find('e')
x

1

In [10]:
txt = 'company 12'
x = txt.isalnum()
x

False

In [11]:
txt = 'company12'
x = txt.isalnum()
x

True

In [12]:
txt = 'hello, my name is peter, i am 26 years old'
x = txt.split(',')
x

['hello', ' my name is peter', ' i am 26 years old']

In [16]:
txt = 'hello, my name is peter, i am 26 years old'
x = txt.split(',', maxsplit =1)
x

['hello', ' my name is peter, i am 26 years old']

In [17]:
# string methods

In [19]:
mytuple = ('john', 'peter', 'vicky')
''.join(mytuple)

'johnpetervicky'

In [20]:
mytuple = ('john', 'peter', 'vicky')
' '.join(mytuple)

'john peter vicky'

In [23]:
mytuple = ('john', 'peter', 'vicky')
"#".join(mytuple)

'john#peter#vicky'

In [26]:
s =  '         aaa,bbb,ccc,dd             '
s.rstrip()

'         aaa,bbb,ccc,dd'

In [27]:
s = '         aaa,bbb,ccc,dd             '
s.lstrip()

'aaa,bbb,ccc,dd             '

In [28]:
s = '         aaa,bbb,ccc,dd             '
s.strip()

'aaa,bbb,ccc,dd'

In [30]:
s = 'I love my India'
s.startswith('a')

False

In [31]:
s = 'I love my India'
s.endswith('I')

False

In [32]:
s = 'I love my India'
s.endswith('a')

True

In [33]:
s = 'I love my India'
s.endswith('A')

False

In [36]:
txt = 'banana'
x = txt.center(80, '*')
print(x)

*************************************banana*************************************

In [40]:
txt = 'I love apples, apples are my favourite fruit'
x = txt.count('apples')
print(x)

2

In [53]:
txt = 'I love apples, apples are my apple favourite fruit'
x = txt.count('apple', 6, 36)
print(x)

3

In [55]:
age = int(input())
if (age>18):
  print('you can vote')

56
you can vote

In [56]:
age = int(input())
if (age>18):
  print('you can vote')
else:
  print('you cant vote')

12
you cant vote

In [61]:
number = int(input('enter number:'))
if (number == 0):
  print('number is zero')
elif (number%2 == 0):
  print('number is even')
elif (number > 0):
  print('number is positive')
elif (number < 0):
  print('number is negative')
else:
  print('number is odd')

enter number:-20
number is even

In [62]:
number = int(input('enter number:'))
if (number == 0):
  print('number is zero')
if (number%2 == 0):
  print('number is even')
if (number > 0):
  print('number is positive')
if (number < 0):
  print('number is negative')
if (number%2 != 0):
  print('number is odd')

enter number:-20
number is even
number is negative

In [66]:
number = int(input('enter number:'))
if (number > 0):
  print('positive number')
  if (number%2 == 0):
    print('even number')
  else:
    print('odd')
else:
  print('negative number')

enter number:9
positive number
odd

In [69]:
number = int(input('enter a number from 1 to 14:'))
if number < 7:
  if number <=3:
    print('strong acid')
  else:
      print('weak acid')
elif number > 7 and number <=14:
  if number <=11:
    print('weak base')
  else:
      print('strong base')
else:
  print('not valid pH')

enter a number from 1 to 14:5
weak acid

In [75]:
number = int(input('enter a number from 1 to 14:'))
if number >= 1 and number < 7:
  if number <=3:
    print('strong acid')
  else:
      print('weak acid')
elif number == 7:
  print('neutral')
elif number > 7 and number <=14:
  if number <=11:
    print('weak base')
  else:
      print('strong base')
else:
  print('not valid pH')

enter a number from 1 to 14:2
strong acid

In [78]:
pH=int(input("Enter the pH level"))
if (pH>=1 and pH<=3):
    print("strong acid")
elif (pH>=4 and pH<=6):
    print("weak acid")
elif (pH==7):
    print("neutral")
elif (pH>=8 and pH<=11):
    print("weak base")
elif (pH>=12 and pH<=14):
    print("strong base")
else:
    print("not valid ph level")

Enter the pH level1
strong acid